h1{
    text-align: center;
    position: relative;
    background-color: gold;
    color: black;
}

p {
    background-color: brown;
    color: yellow;
}

img{
    margin-left: 40px;
    width: 800px;
    line-height: 100px;
    
}